.form-item-label {
    margin-right: 20px;
    width: 100px;
    text-align: right;
    white-space: nowrap;
    font-weight: lighter;
}

.form-row {
    margin: 17px 0;
    height: 25px;
}

.form-row-indent {
    margin-left: 40px;
}

.label-inline{
    margin-right: 15px;
}

.config-item {
    padding: 20px;
    margin: 10px;
    border: 1px solid #cccccc;
    background: #f9f9f9;
}

.excluded-date{

}

.time-range{
    margin: 5px;
    display: flex;
    width: 644px;
}

.time-range-invalid{
    padding: 5px;
    border-radius: 3px;
    border: 1px red dashed;
}

.btn {
    width: auto;
    height: 29px;
    font-size: 12px;
    border-radius: 1px;
    cursor: pointer;

    font-weight: bold;
    margin-left: 10px;
}

.btn-gray{
    border: 1px solid #cccccc;
    background-color: #e0e0e0;
    color: #505050;
}

.btn-gray:hover {
    background-color: #d0d0d0;
    border: 1px solid #c0c0c0;
}

.btn-delete {
    background-color: rgb(210, 73, 57);
    border-bottom-color: rgb(190, 58, 43);
    display: inline-block;
    width: auto;
    color: white;

    position: relative;
    margin-left: 10px;
    line-height: 10px;
}

.btn-delete:hover {
    background-color: rgb(162, 50, 37);
    border-color: rgb(148, 46, 34);
    color: white;
}

.input{
    width: auto;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: white;
    max-height: 45px;

    padding: 2px 8px;
}

.input-time{
    width: 100px;
    margin: 0 20px;
}

input[type='radio']{
    height: 100%;
}

input[type='checkbox']{
    height: 100%;
}



.input-select{
    padding: 2px;
}

.input-text{

}

.text-highlight{
    font-weight: bold;
}