.alert-con {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 11;
}

.alert-context {
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    height: 350px;
    width: 80%;
    margin: 100px auto;
    padding: 24px;
}

.alert-context .alert-content-detail {
    text-align: center;
    color: #333;
}

.alert-context .btn-confirm {
    right: 10px;
}

.alert-context .btn-alert {
    position: absolute;
    bottom: 10px;
}

.alert-context .btn-cancel {
    right: 80px;
}

.alert-enter {
    opacity: 0;
}

.alert-enter.alert-enter-active {
    transition: all 300ms;
    opacity: 1;
}

.alert-leave {
    opacity: 1;
}

.alert-leave.alert-leave-active {
    transition: all 300ms;
    opacity: 0;
}

.select-region {
    margin-top: 15px;
}

.select-holiday {
    margin-top: 15px;
}
